{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}ForecastInGame{% endblock %}</title>
  {% tailwind_css %}
</head>
<body class="h-screen bg-gray-light">
  {% if user.is_authenticated %}

  <div class="navbar bg-base-100">
    <div class="navbar-start">
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-xl" onclick="location.href= '/'">ForecastinGame</a>
    </div>
    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <!-- <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li> -->
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <li><button class="btn-ghost">Logout</button></li>
          </form>
        </ul>
      </div>
      
    </div>
  </div>
  {% else %}
  {% endif %}
     
    {% block content %}
    {% endblock %}
    
  </nav>
</body>
</html>