<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="flex justify-center items-center">
  <div class="flex-row">
    <div class="flex justify-center">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello there {{user.username}}</h1>
            <p class="py-6">
              Welcome to the ForecastinGame! Beat your friends/colleagues or challenge yourself into becoming an expert at predicting what comes next!
            </p>
          </div>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-2">
      <div class="grid-cols-1 card bg-neutral-200 w-96 shadow-xl">
        <figure>
          <img src=" {% static 'images/forecastinglogo.png' %}" alt="forecastinglogo" />
        </figure>
        <div class="card-body">
          <h2 class="card-title justify-center">Single Player Game</h2>
          <p class="text-center">Play a single-player forecasting game</p>
          <div class="card-actions justify-end">
            <button class="btn btn-neutral" onclick="location.href= '/game/singleplayer'">Play now</button>
          </div>
        </div>
      </div>
      <div class="grid-cols-2 card bg-base-300 w-96 shadow-xl">
        <figure>
          <img src=" {% static 'images/multiplayer.png' %}" alt="multiplayerlogo" />
        </figure>
        <div class="card-body">
          <h2 class="card-title justify-center">Join a Multi Player Game</h2>
          <p class="text-center">Join a game with your friends/colleagues!</p>
          <div class="card-actions justify-end">
            <button class="btn btn-disabled ">Coming soon</button>
          </div>
        </div>
      </div>
      <div class="grid-cols-3 card bg-base-300 w-96 shadow-xl">
        <figure>
          <img src=" {% static 'images/hostgame.png' %}" alt="hostgame" />
        </figure>
        <div class="card-body">
          <h2 class="card-title justify-center">Host a Multi Player Game</h2>
          <p class="text-center">Host a multi-player game</p>
          <div class="card-actions justify-end">
            <button class="btn btn-disabled ">Coming soon</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div
  class="hero min-h-screen"
  style="background-image: url({% static 'images/herobanner.png' %})">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Welcome to the ForecastinGame!</h1>
      <p class="mb-5">
         Please log in or create an account to start playing.
      </p>
      <button class="btn" onclick="location.href= '/accounts/login'">Log In</button>
      <button class="btn" onclick="location.href='/accounts/signup'">Sign Up</button>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}