<!-- templates/registration/signup.html -->
{% extends "base.html" %}
{% load tailwind_filters %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="flex-row">
  <div class="flex justify-center items-center">
    <h2 class="text-3xl">Sign Up</h2>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="flex-row">
      <div class ="justify-center items-center">
      <button class="btn" type="submit">Sign Up</button>
      <span></span>
      <button class="btn" onclick="location.href= '/'">Cancel</button>
      </div>
    </div>  
  </form>
</div>

{% endblock %}